html{ padding-bottom: 75px;}

.nanum-myeongjo-regular {
    font-family: "Nanum Myeongjo", serif;
    font-weight: 400;
    font-style: normal;
  }

  .pinyon-script-regular {
    font-family: "Pinyon Script", cursive;
    font-weight: 400;
    font-style: normal;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .block-div, .block {
    display: block;
    color: black;
    border: 2px solid;
    padding: .25em;
    font-family: "Nanum Myeongjo";
  }

  .right{
    float:right;
  }

  .left{
    float:left;
  }

  .topnav {
    display: block;
    color: black;
    border: 2px solid;
    padding: .23em;
    font-family: "Nanum Myeongjo";
    background-color: white;
    overflow: hidden;
  }

  .topnav a {
    display: block;
    font-family: "Nanum Myeongjo";
    float: left;
    color: black;
    text-align: left;
    padding: 7px 9px;
    font-size: 19px;
    .right{
    float:right;
    }
    .left{
      float:left;
    }
  }

  .topnav a:hover {
    display: block;
    color: black;
    font-family: "Nanum Myeongjo";
    color: black;
    font-weight: 800;
    overflow: hidden;
    border:1px black;
    padding: 7px 9px;
  }

  body {
    font-family: "Nanum Myeongjo", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 30px;
    text-align: center;
    padding: 20px 60px 30px 60px;
  }

  h1 {
    font-family: "Pinyon Script", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 105px;
    line-height: 100%;
    margin-top: 30px;
    margin-bottom: auto;
  }

  h2 {
    font-family: "Nanum Myeongjo", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    margin-top: 60px;
  }
    
  .container {
    box-sizing: border-box;
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
    
  .container img {
    vertical-align: middle;
  }
  
  .prev {
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    margin-left: -153px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .next {
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    padding-right: 10px;
    padding-left: 10px;
    right: 0;
  }

