.nanum-myeongjo-regular {
    font-family: "Nanum Myeongjo", serif;
    font-weight: 400;
    font-style: normal;
  }

  .pinyon-script-regular {
    font-family: "Pinyon Script", cursive;
    font-weight: 400;
    font-style: normal;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .block-div, .block {
    display: block;
    color: black;
    border: 2px solid;
    padding: .25em;
    font-family: "Nanum Myeongjo";
  }

  .post {
    border:1px black;
    margin-bottom: 1em;
    padding: .5em 1em;
  }

  .right{
    float:right;
  }

  .left{
    float:left;
  }

/*background color */
  .topnav {
  display: block;
    color: black;
    border: 2px solid;
    padding: .25em;
    font-family: "Nanum Myeongjo";
    background-color: white;
    overflow: hidden;
  }

/*links styles */
  .topnav a {
  display: block;
    padding: .25em;
    font-family: "Nanum Myeongjo";
    float: left;
    color: black;
    text-align: left;
    padding: 14px 16px;
    font-size: 17px;
    .right{
      float:right;
  }
  .left{
      float:left;
  }
  }

/* nav hover state */
  .topnav a:hover {
  display: block;
    color: black;
    font-family: "Nanum Myeongjo";
    color: black;
    font-weight: 800;
    overflow: hidden;
    border:1px black;
    margin-bottom: 1em;
    padding: .5em 1em;
  }

  .img-container {
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 100px;
  }

  body {
    font-family: "Nanum Myeongjo", serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 1em;
    font-size: 36px;
    text-align: center;
    padding: 60px 60px 60px 60px;
    }


  

